/* Light Mode */
body {
    font-family: 'Roboto';
    background-color: #ffffff;
    color: #000000;
    transition: background 0.3s ease, color 0.3s ease;
}

.tabela-main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.tabela {
    width: 600px;
}

.header{
    text-align: center;
}

td {
    padding: 7px;
}

th {
    padding: 7px;
    background-color: #4b4b4b3c;
}

tr:nth-child(odd) {
    background-color: #ffffff; /*Cor das colunas impares*/
}

tr:nth-child(even) {
    background-color: #4b4b4b3c; /*Cor das colunas pares*/
}

.btn-dark-mode {
    font-weight: 620;
    display: flex;
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 300px;
}

.btn-dark-mode:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(78, 78, 78);
    border-color: #3e3e3e;
}

.btn-simulate {
    font-weight: 620;
    display: flex;
    background-color: #4d8d0d;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 395px;
}

.btn-simulate:hover {
    cursor: pointer;
    background-color: #55a406;
    color: white;
    border-color: #3e3e3e;
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode tr:nth-child(odd) {
    background-color: #1e1e1e; /* Cor das colunas ímpares */
}

.dark-mode tr:nth-child(even) {
    background-color: #292929; /* Cor das colunas pares */
}

.dark-mode .btn-dark-mode {
    background-color: #ebebeb;
    color: #000;
}

.dark-mode .btn-dark-mode:hover{
    background-color: #aaaaaa;
    color: #000;
}